<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<script type="text/javascript" src="/static/jquery.min.js"></script>
</head>
	<h1>教务系统测试</h1>
	<br/>
	
	<h2>所有课程信息</h2>
	<p id="allCourse"></p>
	<br />
	
	<h2>选课信息</h2>
	<p id="course"></p>
	<br />
	
	<h2>选课</h2>
	<p id="select"></p>
	<br />
	
	<h2>退课</h2>
	<p id="quit"></p>
	<br />

	<p style="color:aquamarine">集成之后的测试</p>
	<br />

	<h2>所有课程信息</h2>
	<p id='iallCourse'></p>
	<br />

	<h2>课程统计信息</h2>
	<p id = "courseStat"></p>
	<br />

	<h2>学生统计信息</h2>
	<p id = "studentStat"></p>
	<br />

	<h2>跨院系选课信息</h2>
	<p id="icourse"></p>
	<br />

	<h2>跨院系选课</h2>
	<p id="iselect"></p>
	<br />

	<h2>跨院系退课</h2>
	<p id="iquit"></p>
	<br />

<body>

<script>
	// 登录
	$.ajax({
		'url': '/login',
		'method': 'post',
		'data': {
			'username': '141110001',
			'password': 'test'
		},
		success: function(result) {
			// 获取课程信息
			$.ajax({
				'url': '/getAllCourseInfo',
				'method': 'get',
				success: function(course) {
					$('#allCourse').text(JSON.stringify(course));
				}
			});
			
			// 获取选课信息
			$.ajax({
				'url': '/getCourseInfo',
				'method': 'get',
				success: function(course) {
					$('#course').text(JSON.stringify(course));
				}
			});
			
			// 选课
			$.ajax({
				'url': '/selectCourse',
				'method': 'post',
				'data': {'courseId': 1},
				success: function(res) {
					$('#select').text(JSON.stringify(res));
				}
			});
			
			// 退课
			$.ajax({
				'url': '/quitCourse',
				'method': 'post',
				'data': {'courseId': 1},
				success: function(res) {
					$('#quit').text(JSON.stringify(res));
				}
			});

			// 集成之后的接口测试

			// 全部课程信息
			$.ajax({
				'url': '/igetAllCourseInfo',
				'method': 'get',
				success: function(data) {
					$('#iallCourse').text(JSON.stringify(data));
				}
			});

			// 课程统计信息
			$.ajax({
				'url': '/igetCourseStatistics',
				'method': 'get',
				success:function(data) {
					$('#courseStat').text(JSON.stringify(data));
				}
			});

			// 学生统计信息
			$.ajax({
				'url': '/igetStudentStatistics',
				'method': 'get',
				success:function(data) {
					$('#studentStat').text(JSON.stringify(data));
				}
			});

			// 跨院系选课信息
			$.ajax({
				'url': '/igetCourseInfo',
				'method': 'get',
				success:function(data) {
					$('#icourse').text(JSON.stringify(data));
				}
			});

			// 跨院系选课
			$.ajax({
				'url': '/iselectCourse',
				'method': 'post',
				'data': {'courseId': '30001', 'courseDept':'2'},
				success: function(res) {
					$('#iselect').text(JSON.stringify(res));
				}
			});
			
			// 跨院系退课
			$.ajax({
				'url': '/iquitCourse',
				'method': 'post',
				'data': {'courseId': '30001', 'courseDept':'2'},
				success: function(res) {
					$('#iquit').text(JSON.stringify(res));
				}
			});
		}
	});
</script>

</body>
</html>
